.App {
  text-align: center;
  
}

body {
  background-image: url(https://f4.bcbits.com/img/a2372745034_10.jpg);
  color: whitesmoke;
  text-shadow: 0 0 3px #FF0000;
}

.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}



.topnav {
  background-color: black;
  overflow: hidden;
  border: solid 2px red;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 50px;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.header {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
}

.bgimg {
  background-image: url('https://f4.bcbits.com/img/a2372745034_10.jpg');
}


